@model ADO_database_project.Models.Employee

@{
    ViewBag.Title = "Result";
}

<h2>Employee Details</h2>

<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>ID no : @Model.EmployeeId</p>
<p>Manager ID : @Model.ReportsTo</p>